<!-- <app-home></app-home> -->
<router-outlet></router-outlet>

<!-- Todo List(Update/remove) -->
<!-- <input type="text " placeholder="Enter Name " #task >
<button (click)="addTask(task.value)">ADD</button> -->


<!-- <ul *ngFor=" let item of list">
    <li  >
{{item.name}}
<button (click)="removeTask(item.id)">
    Remove
</button>


    </li>
</ul> -->
<!-- child to parent -->

<!-- <app-child [item]="data"></app-child>
<button (click)="updateChild()">Update Child</button> -->
<!-- parent to child -->
<!-- <ul *ngFor="let user of userDetails">
    <app-userdetails [items]='user'></app-userdetails>
</ul> -->

<!-- <h1>{{title | uppercase}}</h1> -->
<!-- Titlecase is used for first letter to be in uppercase -->
<!-- <h2>{{heading | titlecase }}</h2> -->
<!-- <a routerLink="">Home</a>
<br/>
<a routerLink="user">User</a>
<br/> -->
<a routerLink="about">About</a>
<br/>
<!-- <a routerLink="user/2">peter </a>
<br>
<a routerLink="user/3">roy </a> -->
