/* .form-login {
  height: 35vh;
  border: 2px solid black;
  width: 18vw;
  margin: 0 auto;
}
.main-input{
    margin: 0 auto;
} */

  /* @media screen and (max-width:375px) {
    img.avatar {
  margin-left: 14rem;
  
  }
  } */
